.work_head{
    background: #00001F;
    padding-bottom: 60px;
}

.work_head h3{
    color: #fff;
    font-size: 28px;
    font-weight: 500;
}

.work_head h2{
    color: #fff;
    font-size: 42px;
    font-weight: 600;
}

.work_main{
    background: #172A46;
    padding: 60px;
}
